<html>
<head>
  <title>Resultat av personlighetstest</title>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-{{bokeh_version}}.min.js"></script>
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-{{bokeh_version}}.min.css" type="text/css">
  <style>
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .plot, .footer {
        width: 80%;
        margin: auto;
    }
    .plot {
        height: 80%;
        margin-top: 5em;
    }
    .details {
        position: absolute;
        left: 10%;
        top: 1em;
        margin: 0;
    }
    h2 {
      margin-top: 5em;
    }
  </style>
  <script>
    function sendForm() {
        document.forms[0].submit();
    }
    window.onload = function() {
        var details = document.getElementById('details');
        details.onchange = sendForm;
    }
  </script>
</head>
<body>
  <form class="details" method="get">
    <input type="checkbox" id="details" name="details" {{details}}></input>
    <label for="details">Visa detaljerade resultat</label>
  </form>
  <div class="plot">
    {{plot|safe}}
  </div>
  <div class="footer">
    {{footer|safe}}
  </div>
</body>
<html>
